extend ./layout/layout.pug
block content

  .container
    .col-xs-12
      .information-product-title
        .infor-name
          h1= product.name
          span SKU: IP1-001
          div th&#x1B0;&#x1A1;ng hi&#x1EC7;u:
    .col-xs-12
    .bg-information-product
      .row
        .col-lg-4.col-md-6.flex-colum
          .row
            .col-lg-2.col-md-2.col-sm-12.col-xs-12.pad(style='padding-right:0')
              .swiper.mySwiper.slide-mall(thumbsslider='')
                .swiper-wrapper
                  each item in product.images
                    .swiper-slide.small(data-imgsmall=item)
                      img(src=item)
            .col-lg-10.col-md-10.col-sm-12.col-xs-12
              .swiper.mySwiper2(style='--swiper-navigation-color: #fff; --swiper-pagination-color: #fff;')
                .swiper-wrapper
                  each item in product.images
                    .swiper-slide(data-imgbig=item)
                      img(src=item)
                  
                .swiper-button-next
                .swiper-button-prev
        .col-lg-5.col-md-6.col-sm-12.col-xs-12
          form(action='/add-cart'  method='post' accept-charset='UTF-8' )
            input(type='hidden' name='_csrf_token' value='f1o8FTcXPS4mCxNlYiYIFREiBBo6CiMbObsbYaOWqmD7-arBzKQEIxHz')
            input(type='hidden' name='utf8' value='✓')
            .pro-info-product
              input#var_id(type='hidden' name='id' value=product._id.toString())
              input#input-quantity(type='hidden' name='quantity' value='1')
              .pro-color-product
                label(style='margin-top: 14px;min-width: 62px;') M&agrave;u s&#x1EAF;c:
                ul
                  li.value-color(data-img='' data-attributes='Màu sắc' data-value='đen' onclick="handleClick('đen','Màu sắc',this)")
                    span &dstrok;en
                    img(src='' alt='')
                  li.value-color(data-img='' data-attributes='Màu sắc' data-value='trắng' onclick="handleClick('trắng','Màu sắc',this)")
                    span tr&#x1EAF;ng
                    img(src='' alt='')
              .product-price
                p= product.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})
              .pro-button
                button.addcart(type='submit' style='text-align: -webkit-right;')
                  span.iconsc
                  | Th&ecirc;m v&agrave;o gi&#x1ECF; h&agrave;ng
                input(type='hidden' name='return_url' value=product.slug)
                button.addcart(style='background: #f00e0e')
                  span.icon_cart_btn
                  | Mua ngay
              .box-promotion
                h3.title-promotion D&#x1ECA;CH V&#x1EE4; H&#x1ED6; TR&#x1EE2;
                .content-promotion
                  p  - Ship COD to&agrave;n qu&#x1ED1;c
                  p  - Ship COD to&agrave;n qu&#x1ED1;c
                  p  - Ship COD to&agrave;n qu&#x1ED1;c
  .container
    .row
      .col-lg-8.col-xs-12
        .wrapper-product-related
          .title-group-related
            h3 &Dstrok;&aacute;nh gi&aacute; s&#x1EA3;n ph&#x1EA9;m
          .form-coment
            .vn-product-reviews-summary
              .start
                i.far.fa-star
                i.far.fa-star
                i.far.fa-star
                i.far.fa-star
                i.far.fa-star
                p (0 &dstrok;&aacute;nh gi&aacute;)
              .product-reviews-summary-actions
                button Vi&#x1EBF;t &dstrok;&aacute;nh gi&aacute;
          .coment-info
            h3 Vi&#x1EBF;t &dstrok;&aacute;nh gi&aacute; m&#x1EDB;i
            form(action='')
              .pro-name-user
                label(for='') T&ecirc;n
                input(type='text' placeholder='Tên của bạn')
                label(for='') Email
                input(type='text' placeholder='email của bạn')
              .star-send
                p &Dstrok;&aacute;nh gi&aacute;
                i.far.fa-star
                i.far.fa-star
                i.far.fa-star
                i.far.fa-star
                i.far.fa-star
              .star-send
                p N&#x1ED9;i dung
                p
                  textarea(name='' id='' cols='30' rows='10' placeholder='Viết nội dung đánh giá ở đây (>3 ký tự và < 1000 ký tự)')
              .button-send
                button G&#x1EED;i &dstrok;&aacute;nh gi&aacute;
          .title-group-related
            h3 Giới thiệu về sản phẩm 
              span= product.name
          .pro-description= product.description
          .view-more-detail
            span Xem Th&ecirc;m 
            i.fas.fa-sort-down
      .col-lg-4.col-xs-12
        .wrapper-product-related
          .title-group-related
            h3 S&#x1EA3;n ph&#x1EA9;m li&ecirc;n quan
          .product-relate
            .img-relate
              a(href='/products/iphone-xs')
                img(src='https://statics.pancake.vn/web-media/61/4a/99/e6/fb66191525156bd8bb566d011709486fc18704277f94c760d766a1d8.png' alt='')
            .info-relate
              a(href='/products/iphone-xs')
                h2 iPhone XS
              p 20.000.000&dstrok;
          .product-relate
            .img-relate
              a(href='/products/test')
                img(src='https://statics.pancake.vn/web-media/7d/ce/b4/36/d02253cb50d9c6490c96767531a442356d97648489b92d457bc18579.jpg' alt='')
            .info-relate
              a(href='/products/test')
                h2 test
              p 3.000.000&dstrok;
        .pro-baner-right
          a(href='')
            img(src='https://statics.pancake.vn/web-media/02/26/55/30/96f0d9e24a558c315f6d78c34b621f36ad728ee93d8aff6976c64054.jpg' alt='')
        .pro-baner-right
          a(href='')
            img(src='https://statics.pancake.vn/web-media/9d/2d/87/93/ad86430c7ec85449e82a637bf7c65c6eac0994ec703a49373e650d85.jpg' alt='')
  script.
      var swiper = new Swiper(".mySwiper", {
   
      spaceBetween: 10,
      slidesPerView: 5,
      freeMode: true,
    
      watchSlidesProgress: true,
      breakpoints: {
            "@0.00": {
              slidesPerView: 3,
              mousewheel: false,
            },
            "@0.75": {
              slidesPerView: 3,
              mousewheel: false,
            },
            "@1.00": {
              slidesPerView: 3,
              direction: "vertical",
              mousewheel: true,
            },
            "@1.50": {
              slidesPerView: 3,
              direction: "vertical",
              mousewheel: true,
            },
          },
    });
    var swiper2 = new Swiper(".mySwiper2", {
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
    });
  link(rel='stylesheet', href='http://localhost:3020/product.css')