{% layout "layout.liquid" %}

{% block content %}
  <link rel="stylesheet" href="/cart.css">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pd5">
          <form
            action="/cart"
            enctype="multipart/form-data"
            method="post"
            accept-charset="UTF-8">
            <input
              type="hidden"
              name="_csrf_token"
              value="eTcKK3s9HSwJMmgdHj9mVwEcABcLYAkIKT8F-wkBX_ZvugVgxlvs36bn">
            <input
              type="hidden"
              name="utf8"
              value="✓">
            <h1 class="title-head-cart">Giỏ hàng</h1>
            <div class="table-cart">
              <table id="table-cart">
                <tbody>
                  <tr>
                    <th colspan="2">Sản phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th>Xóa</th>
                  </tr>
                  {% for item in global.cart.items %}
                    <tr>
                      <td>
                        <a href="/product/{{ item.slug}}">
                          <img
                            src="{{item.images | first}}"
                            style="width: 80%;"
                            alt="iPad 2021 ( Gen 9 ) - 256GB WIFI - Công Ty ( Giá Dự Kiến )">
                        </a>
                      </td>
                      <td style="text-align:left;max-width:300px;">
                        <a href="/product/{{ item.slug}}">
                          <strong>{{ item.name }}</strong>

                        </a>
                      </td>
                      <td>{{ item.price | vnd }}</td>
                      <td class="qty">
                        <input
                          type="number"
                          class="form-control"
                          size="4"
                          name="updates[product][3534312]"
                          min="1"
                          id="updates_1077907751"
                          value="{{ item.quantity}}"
                          onfocus="this.select();">
                      </td>
                      <td class="price">{{ item.price | times: item.quantity | vnd }}</td>
                      <td class="remove">
                        <a href="/cart/action?spec=delete&amp;id=3534312&amp;type=1" class="cart">
                          <i class="fas fa-trash-alt"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="checkout-note clearfix">
              <textarea
                id="note"
                name="note"
                rows="8"
                cols="50"
                placeholder="Ghi chú đơn hàng"></textarea>
            </div>
            <div class="clearfix">
              <a
                class="continue-shopping"
                title="Mua tiếp"
                href="/categories/iphone">Mua tiếp</a>

            </div>
          </form>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pd5">
          <h2 class="title-head-cart">Đơn hàng</h2>
          <div class="right-cart">
            <h2>
              <label>Tổng tiền</label>
              <label>{{ global.cart.total_price | vnd }}</label>
            </h2>
            <a class="checkout" href="/cart/checkout">
              Thanh toán
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}